<h1> staffs Members at Kepler </h1>

<h2><%= @staffs.name %><h2>
<h2><%= @staffs.organization %><h2>
<h2><%= @staffs.email %><h2>
<h2><%= @staffs.phone_number %><h2>


<%= button_to "delete", @staffs, :method => :delete %>


<input type="submit" value="Delete">

